
p{
    text-align: justify;
}


body {
    background-color: #90E0EF;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }

  h1{
    background-color: #CAF0F8;
    text-align: center;
  }
  
  #loginPanel{
    text-align: center;
    position: absolute;
    top: 25%;
    width: 22%;
    height: 33%;
    left: 39%;
    background-color: transparent;
    border-radius: 5%;
    border: 8px solid #00B4D8;
    border-left: 22%;
}
#loginButton{
    position: absolute;
    top: 80%;
    left: 30%;
    width: 40%;
    height: 40;
    background-color: transparent;
    border-radius: 10%;
    border: 2px solid #00B4D8;
    font-size: 1vw;
    color: 00B4D8;
}